In [3]:
import os
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [5]:
datapath = os.path.join(os.getcwd(), 'train.csv')
data = pd.read_csv(datapath)

In [6]:
data.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [24]:
X = data[['MSSubClass', 'LotFrontage', 'LotArea', 'Street', 'LandContour', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'GrLivArea']]

In [25]:
X.head()

,MSSubClass,LotFrontage,LotArea,Street,LandContour,YearBuilt,1stFlrSF,2ndFlrSF,GrLivArea
0,60,65.0,8450,Pave,Lvl,2003,856,854,1710
1,20,80.0,9600,Pave,Lvl,1976,1262,0,1262
2,60,68.0,11250,Pave,Lvl,2001,920,866,1786
3,70,60.0,9550,Pave,Lvl,1915,961,756,1717
4,60,84.0,14260,Pave,Lvl,2000,1145,1053,2198

In [29]:
X_1hot = pd.get_dummies(X)

In [30]:
X_1hot.head(5)

,MSSubClass,LotFrontage,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,GrLivArea,Street_Grvl,Street_Pave,LandContour_Bnk,LandContour_HLS,LandContour_Low,LandContour_Lvl
0,60,65.0,8450,2003,856,854,1710,0,1,0,0,0,1
1,20,80.0,9600,1976,1262,0,1262,0,1,0,0,0,1
2,60,68.0,11250,2001,920,866,1786,0,1,0,0,0,1
3,70,60.0,9550,1915,961,756,1717,0,1,0,0,0,1
4,60,84.0,14260,2000,1145,1053,2198,0,1,0,0,0,1

In [34]:
y = data['SalePrice'].values

In [36]:
# y.head(5)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X_1hot, y, train_size = )